html,
#root,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay-vitrinas ~ div > .chakra-modal__content-container {
  justify-content: flex-start !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  border-bottom-right-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 20px;
}

.dashboard-grid-container {
  grid-template-columns: 1fr;
}

/* Medium screens (tablets) */
@media screen and (min-width: 1040px) {
  .dashboard-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard-grid-container-resumen {
    grid-template-columns: repeat(2, 1fr);
  }

  .thCheckBoxInventario {
    padding: 22px;
  }
}

/* Large screens (desktops) */
@media screen and (min-width: 1300px) {
  .dashboard-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.dashboard-grid-container-resumen {
  grid-template-columns: 1fr;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-wrapper {
  height: 100%;
  width: calc(100% + 17px);
  overflow-y: scroll;
  margin-right: -17px;
  padding-right: 17px;
}

.scroll-wrapper::-webkit-scrollbar {
  width: 4px;
}

.scroll-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  border-bottom: 20px;
  background-color: #888;
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.scroll-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.scroll-hidden {
  height: 100%;
  width: calc(100% + 17px);
  overflow-y: scroll;
  margin-right: -17px;
  padding-right: 17px;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content-table {
  width: 100%;
  min-width: 900px;
  table-layout: fixed;
  overflow-x: auto;
  background-color: white;
  border-collapse: collapse;
}

.content-table thead {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  z-index: 10;
}

.content-table tbody {
  width: 100%;
  min-height: 400px;
  overflow-y: auto;

  /* height: 100%; */
}

.content-table th,
.content-table td {
  padding: 10px 5px;
  font-size: 14px;
}

.content-table tbody tr {
  border-bottom: 1px solid #e5e5e5;
}

.ventastTh:nth-child(1),
.ventasTd:nth-child(1) {
  text-align: center;
}

.inventTh:nth-child(1),
.ventastTh:nth-child(3),
.ventastTh:nth-child(4),
.ventastTh:nth-child(5),
.ventastTh:nth-child(6) {
  text-align: center;
}

.inventTd:nth-child(1),
.inventTd:nth-child(6),
.inventTd:nth-child(7),
.inventTd:nth-child(8),
.inventTd:nth-child(9),
.ventasTd:nth-child(3),
.ventasTd:nth-child(6),
.ProdTd:nth-child(3),
.ProdTd:nth-child(4),
.ProdTd:nth-child(5),
.ProdTd:nth-child(6),
.ProdTd:nth-child(7),
.AsesorTh:nth-child(6) {
  text-align: center;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
